<footer class="bottom-footer">
<span class="social">
<a rel="profile" title="Jario twitter" href="https://twitter.com/jarioswami" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
<a rel="profile" title="Jario Youtube" href="https://youtube.com/jarioswami" target="_blank" ><i class="fa fa-youtube" aria-hidden="true"></i>Youtube</a>
<a rel="profile" title="Jario telegram" href="https://telegram.com/jarioswami" target="_blank" ><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</a>
<a rel="profile" title="Feed/RSS para seguir" href="{{base.url}}/feed.xml" target="_blank" ><i class="fa fa-rss" aria-hidden="true"></i> Feed</a>
</span>
<br />
<span class="mini-note">Blog minimalista com atualizações sobre metafísica e qualidade de vida aquariana.</span> 
    <!-- <nav class="sans">
        <hr>
        <p><label class="menu-icon" for="menu-btn">Menu</label></p>
        <ul class="site-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/designs">Designs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://canisee.xyz" title="Confirm your vision functionality">[Can I See]</a></li>
        </ul>
    </nav> -->
    <i>
    </i>
</footer>

