<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   {% assign page_title = '' %}
  {% if page.title == "Home" %}
      {% capture page_title %}
        {{ site.title_left }}{{ site.title_right }} | {{ site.description }}
        {%if paginator and paginator.page != 1 %} - {{ paginator.page }}{% endif %}
      {% endcapture %}
  {% else %}
      {% capture page_title %}
          {%if page.slug == 'category' %}Category: {% endif %}
          {%if page.slug == 'tag' %}Tag: {% endif %} {{ page.title }} | {{ site.title_left }}{{ site.title_right }}
      {% endcapture %}
  {% endif %}
  {% capture page_title %}
      {{ page_title | strip | rstrip | lstrip | escape | strip_newlines }}
  {% endcapture %}

  <title>{{ page_title }}</title>

  {% assign page_description = '' %}
  {% capture page_description %}
      {% if page.description %}
          {{ page.description | strip_html | strip | rstrip | strip_newlines | truncate: 15 }}
      {% else %}
          {{ site.description }}
      {% endif %}
      {%if paginator and paginator.page != 1 %} - {{ paginator.page }} {% endif %}
      {%if page.slug == 'category' %} Category: {{ page.title }}{% endif %}
      {%if page.slug == 'tag' %} Tag: {{ page.title }}{% endif %}
  {% endcapture %}

  {% capture page_description %}
      {{ page_description | strip | rstrip | lstrip | escape | strip_newlines }}
  {% endcapture %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.baseurl }}/sitemap.xml" />
      
 <!-- Facebook Open Graph -->
    <meta name="og:description" content="{{ desc }}">
    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:url" content="{{ url }}">
    <meta name="og:type" content="article">
    {% if site.og_image %}
        <meta name="og:image" content="{{ site.og_image }}">
    {% endif %}
    {% if site.facebook_id %}
        <meta name="fb:admins" content="{{ site.facebook_id }}">
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ desc }}">
    <meta name="twitter:url" content="{{ url }}">
    {% if site.twitter_image %}
        <meta name="twitter:image" content="{{ site.twitter_image }}">
    {% else %}
        <meta name="twitter:image" content="{{ site.profile_picture }}">
    {% endif %}
   
 <!-- Canonical link tag -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title_left }}{{ site.title_right }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- rel prev and next -->
  {% if paginator.previous_page %}
    <link rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if paginator.next_page %}
    <link rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.baseurl | prepend: site.url }}">

 {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
